* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.margin {
    margin-left: 280px; 
}

.padd {
    padding: 20px;
}

:root {
    --primary-color: #ff6b21;
    --secondary-color: #011a36;
    --background-color: #f8f8f8;
    --white-color: #f8f8f8;
}

body {
    display: flex;
    background: var(--background-color);
    height: 100vh;
    overflow: hidden;
}
.brand{
    margin-top:-600px ;
    margin-left:-60px ;
    color: var(--white-color);
    font-size: 18px;
}
main {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
}

.page {
    min-height: 100vh;
}

.page.active {
    display: block;
}


.orange {
    color: var(--primary-color);
}
.mt-30 {
    margin-top: 30px;
}
.jcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ff6b21;
    display: flex;
} 
